.sidebar {
  font-family: Georgia, 'Times New Roman', Times, serif;
  width: 30vw;
  background-color: rgb(92, 82, 152);
}

.user {
  content: center;
  justify-content: center;
  margin-left: 1em;
}

.signout {
  margin: 1em;
  padding: .5em;
  background-color: rgb(55, 63, 167);
  color: white;
  border-radius: .5em;
}